<div class="col-lg-12 col-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" *ngIf="!CustomeId">Add Discount Slab</h4>
      <h4 class="card-title" *ngIf="CustomeId">Edit Discount Slab</h4>
    </div>
    <div class="card-content" id="frmcard">
      <div class="card-body">
        <form #userForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="hidden-label-form-1"> Name</label>
                <input
                  type="text"
                  id="hidden-label-form-1"
                  class="form-control round"
                  name="aname"
                  [(ngModel)]="model.discountSlabName"
                  #dname="ngModel"
                  [ngClass]="{
                    'is-invalid': userForm.submitted && dname.invalid
                  }"
                  required
                />
              </div>
              <div class="form-group">
                <label for="hidden-label-form-1"> Enter From Amount </label>
                <input
                  type="text"
                  id="hidden-label-form-1"
                  class="form-control round"
                  name="from_amt"
                  [(ngModel)]="model.from_amt"
                  #from_amt="ngModel"
                  [ngClass]="{
                    'is-invalid': userForm.submitted && from_amt.invalid
                  }"
                  required
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="hidden-label-form-1"> Enter To Amount </label>
                <input
                  type="text"
                  id="hidden-label-form-1"
                  class="form-control round"
                  name="to_amt"
                  [(ngModel)]="model.to_amt"
                  #to_amt="ngModel"
                  [ngClass]="{
                    'is-invalid': userForm.submitted && to_amt.invalid
                  }"
                  required
                />
              </div>
              <div class="form-group">
                <label for="hidden-label-form-1"> Discount %</label>
                <input
                  type="number"
                  id="hidden-label-form-1"
                  class="form-control round"
                  name="discount"
                  [(ngModel)]="model.discount"
                  #discount="ngModel"
                  [ngClass]="{
                    'is-invalid': userForm.submitted && discount.invalid
                  }"
                  required
                />
              </div>
            </div>
            <button
              type="button"
              *ngIf="!CustomeId"
              class="btn btn-primary mr-2"
              (click)="onSubmit(userForm)"
            >
              Save
            </button>
            <button
              type="button"
              *ngIf="CustomeId"
              class="btn btn-primary mr-2"
              (click)="onUpdate(userForm)"
            >
              Update
            </button>
            <button type="button" class="btn btn-secondary" (click)="goBack()">
              <i class="ft-x mr-1"></i>Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
