@import "../../assets/sass/libs/datatables.scss";
.card {
  margin: 5px 0;
}
::ng-deep .datatable-body-row {
  width: 0px !important;
}
::ng-deep .ng-clear-wrapper .ng-clear {
  display: none !important;
  font-size: 18px;
  line-height: 1;
  pointer-events: none;
}

.customizer11 {
  width: 650px !important;
  overflow-y: auto !important;
  max-height: 500px;
}
