.card {
  margin: 5px 0;
}
::ng-deep .datatable-body-row {
  width: 0px !important;
}
::ng-deep .ng-clear-wrapper .ng-clear {
  display: none !important;
  font-size: 18px;
  line-height: 1;
  pointer-events: none;
}
.icon-settings {
  line-height: 3 !important;
}
.spinner1 {
  /* display: inline-block; */
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
