<section id="tooltip-validation">
  <div class="row" id="frmcard">
    <div class="col-6">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <form
              class="needs-validation"
              #userForm="ngForm"
              (ngSubmit)="userForm.form.valid && onSubmit(userForm)"
            >
              <div class="form-row">
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip01">Supplier Name</label>
                  <ng-select
                    [items]="supplierdata"
                    bindLabel="supplierName"
                    bindValue="supplierName"
                    [(ngModel)]="model.sname"
                    name="fname"
                    #fname="ngModel"
                    placeholder="Select Suppliers"
                    (search)="OnSupplierChange($event)"
                    (keyup.enter)="addsupplierPop(model.sname)"
                    (ngModelChange)="supplierAddress(model.sname)"
                  >
                  </ng-select>
                  <div
                    *ngIf="userForm.submitted && !fname.errors?.required"
                    class="valid-tooltip"
                  >
                    Looks good!fname
                  </div>
                </div>
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip02">Supplier Address</label>
                  <input
                    type="text"
                    name="lname"
                    class="form-control round"
                    id="validationTooltip02"
                    [(ngModel)]="model.saddress"
                    #lname="ngModel"
                    [ngClass]="{
                      'is-invalid': userForm.submitted && lname.invalid,
                      'is-valid': userForm.submitted && !lname.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="userForm.submitted && !lname.errors?.required"
                    class="valid-tooltip"
                  >
                    Looks good!
                  </div>
                </div>
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip03">GST No</label>
                  <ng-select
                    [items]="gstTypeList"
                    bindLabel="gstTypeName"
                    bindValue="gstTypeName"
                    [(ngModel)]="model.GSTNo"
                    name="gstn"
                    #gstn="ngModel"
                    placeholder="No GST selected"
                  >
                  </ng-select>

                  <div
                    *ngIf="
                      userForm.submitted &&
                      (gstn.invalid || gstn.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid GST.
                  </div>
                </div>
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip03">Mobile No</label>
                  <input
                    type="text"
                    name="mobile"
                    class="form-control round"
                    [(ngModel)]="model.MobileNo"
                    #mobile="ngModel"
                    [ngClass]="{
                      'is-invalid': userForm.submitted && mobile.invalid,
                      'is-valid': userForm.submitted && !mobile.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="
                      userForm.submitted &&
                      (mobile.invalid || mobile.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid mobile.
                  </div>
                </div>
                <div class="col-md-6 mb-1 mt-3 form-group">
                  <button class="btn btn-primary mr-2" type="submit">
                    Import from CSV
                  </button>
                </div>
                <div class="col-md-6 mb-1 mt-3 form-group">
                  <button class="btn btn-primary" type="submit">Load PO</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip03">Invoice No</label>
                  <input
                    type="text"
                    name="invoiceNo"
                    class="form-control round"
                    [(ngModel)]="invoice.invoiceNo"
                    #invoiceNo="ngModel"
                    [ngClass]="{
                      'is-invalid': userForm.submitted && invoiceNo.invalid,
                      'is-valid': userForm.submitted && !invoiceNo.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="
                      userForm.submitted &&
                      (invoiceNo.invalid || invoiceNo.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid Invoice NO.
                  </div>
                </div>
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip03">Invoice Date</label>
                  <div class="input-group">
                    <input
                      class="form-control round"
                      placeholder="yyyy-mm-dd"
                      name="indate"
                      #indate="ngModel"
                      [(ngModel)]="inVoiceDate"
                      ngbDatepicker
                      #d2="ngbDatepicker"
                      required
                    />
                    <div class="input-group-append">
                      <div class="input-group-text" (click)="d2.toggle()">
                        <i class="fa fa-calendar" style="cursor: pointer"></i>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="
                      userForm.submitted &&
                      (indate.invalid || indate.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid Invoice Date.
                  </div>
                </div>
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip03">Entry Date</label>
                  <div class="input-group">
                    <input
                      class="form-control round"
                      placeholder="yyyy-mm-dd"
                      name="entrydate"
                      #entrydate="ngModel"
                      [(ngModel)]="entrydateInvoice"
                      ngbDatepicker
                      #d="ngbDatepicker"
                      required
                    />
                    <div class="input-group-append">
                      <div class="input-group-text" (click)="d.toggle()">
                        <i class="fa fa-calendar" style="cursor: pointer"></i>
                      </div>
                    </div>
                  </div>

                  <!-- <input
                    type="text"
                    name="entrydate"
                    class="form-control round"
                    [(ngModel)]="invoice.entrydate"
                    #entrydate="ngModel"
                    [ngClass]="{
                      'is-invalid': userForm.submitted && entrydate.invalid,
                      'is-valid': userForm.submitted && !entrydate.invalid
                    }"
                    required
                  /> -->
                  <div
                    *ngIf="
                      userForm.submitted &&
                      (entrydate.invalid || entrydate.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid Entry Date.
                  </div>
                </div>
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip03">Discount %</label>
                  <input
                    type="text"
                    name="discount"
                    class="form-control round"
                    [(ngModel)]="invoice.discount"
                    #discount="ngModel"
                    [ngClass]="{
                      'is-invalid': userForm.submitted && discount.invalid,
                      'is-valid': userForm.submitted && !discount.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="
                      userForm.submitted &&
                      (discount.invalid || discount.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid Discount.
                  </div>
                </div>
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip03">Due Days</label>
                  <input
                    type="text"
                    name="dueday"
                    class="form-control round"
                    [(ngModel)]="invoice.dueday"
                    #dueday="ngModel"
                    (change)="duedateChange(invoice.dueday)"
                    [ngClass]="{
                      'is-invalid': userForm.submitted && dueday.invalid,
                      'is-valid': userForm.submitted && !dueday.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="
                      userForm.submitted &&
                      (dueday.invalid || dueday.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid due day.
                  </div>
                </div>
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip03">Due Date</label>
                  <div class="input-group">
                    <input
                      class="form-control round"
                      placeholder="yyyy-mm-dd"
                      name="duedate"
                      #duedate="ngModel"
                      [(ngModel)]="duedateInvoice"
                      ngbDatepicker
                      #t="ngbDatepicker"
                      required
                    />
                    <div class="input-group-append">
                      <div class="input-group-text" (click)="t.toggle()">
                        <i class="fa fa-calendar" style="cursor: pointer"></i>
                      </div>
                    </div>
                  </div>
                  <!-- <input
                    type="text"
                    name="duedate"
                    class="form-control round"
                    [(ngModel)]="invoice.duedate"
                    #duedate="ngModel"
                    [ngClass]="{
                      'is-invalid': userForm.submitted && duedate.invalid,
                      'is-valid': userForm.submitted && !duedate.invalid
                    }"
                    required
                  /> -->
                  <div
                    *ngIf="
                      userForm.submitted &&
                      (duedate.invalid || duedate.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid due date.
                  </div>
                </div>
                <div class="col-md-6 mb-1 form-group">
                  <label for="validationTooltip03">SRT Margin %</label>
                  <input
                    type="number"
                    name="srtMargin"
                    class="form-control round"
                    [(ngModel)]="invoice.srtMargin"
                    #srtMargin="ngModel"
                    [ngClass]="{
                      'is-invalid': userForm.submitted && srtMargin.invalid,
                      'is-valid': userForm.submitted && !srtMargin.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="
                      userForm.submitted &&
                      (srtMargin.invalid || srtMargin.errors?.required)
                    "
                    class="invalid-tooltip"
                  >
                    Please provide a valid SRT Margin.
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <label for="ngx-filter-ref"
                >Search:
                <input
                  id="ngx-filter-ref"
                  class="form-control form-control-sm d-inline-block width-200"
                  type="text"
                  placeholder="Filter the Name column..."
                />
              </label>
            </fieldset>
            <ngx-datatable
              class="bootstrap core-bootstrap"
              style="height: 400px"
              [columns]="columns2"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [rowHeight]="50"
              [rows]="Items"
              [externalPaging]="false"
              [scrollbarH]="true"
              [scrollbarV]="true"
            >
              <ngx-datatable-column name="Name" prop="name" [width]="130">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <!-- <ng-select
                    [items]="itemArray"
                    bindLabel="itemName"
                    bindValue="id"
                    [(ngModel)]="item.name"
                    name="itemName{{ rowIndex }} "
                    #itemName="ngModel"
                    placeholder="No Item selected"
                    style="width: 119px"
                  >
                  </ng-select> -->
                  <ng-select
                    #MyNgSelect
                    bindLabel="name"
                    placeholder="Select item"
                    appendTo="body"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    [(ngModel)]="item.name"
                    style="width: 119px"
                    name="itemName{{ rowIndex }} "
                    #itemName="ngModel"
                    placeholder="No Item selected"
                  >
                    <ng-option [value]="item.id" *ngFor="let item of itemArray">
                      {{ item.itemName }}
                    </ng-option>
                  </ng-select>
                  <!-- <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.name"
                    name="name{{ rowIndex }}"
                    placeholder="Name"
                  /> -->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Batch" prop="batch">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.batch"
                    name="batch{{ rowIndex }}"
                    placeholder="Branch"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Expiry Date" prop="expiryDate">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    [(ngModel)]="item.expiryDate"
                    ngbDatepicker
                    class="form-control"
                    #d2="ngbDatepicker"
                    name="expiryDate{{ rowIndex }}"
                    placeholder="mm-yyyy"
                    required
                    (change)="mgdChange(item.expiryDate, rowIndex)"
                  />
                  <!-- <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.expiryDate"
                    name="expiryDate{{ rowIndex }}"
                    placeholder="Expiry Date"
                  /> -->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Mfg Date" prop="mfgDate">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="mfgDate{{ rowIndex }}"
                    [(ngModel)]="item.mfgDate"
                    ngbDatepicker
                    #m="ngbDatepicker"
                    (click)="m.toggle()"
                    required
                    [disabled]="item.mfgdateFlag === true"
                  />
                  <!-- <div class="input-group-append">
                    <div class="input-group-text" (click)="m.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer"></i>
                    </div>
                  </div> -->
                  <!-- <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.mfgDate"
                    name="mfgDate{{ rowIndex }}"
                    placeholder="Mfg Date"
                  /> -->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Best Before" prop="bestBefore">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <select
                    id="basic-form-6"
                    [(ngModel)]="item.bestBefore"
                    name="bestBefore{{ rowIndex }}"
                    required
                    class="form-control"
                    [disabled]="item.mfgdateFlag === true"
                  >
                    <option
                      value="{{ best.id }}"
                      *ngFor="let best of beforeDetails"
                    >
                      {{ best.bestBefore }}
                    </option>
                  </select>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Qty" prop="qty" [width]="100">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="item.qty"
                    name="qty{{ rowIndex }}"
                    placeholder="00.00"
                    (change)="
                      limitDecimalPlaces($event, 2);
                      discountAmountChange(item, rowIndex);
                      grossAmount(item, rowIndex);
                      taxAmount(item, rowIndex)
                    "
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Free Qty"
                prop="freeQty"
                [width]="100"
              >
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="item.freeQty"
                    name="freeQty{{ rowIndex }}"
                    placeholder="Free Qty"
                    (change)="limitDecimalPlaces($event, 2)"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="MRP" prop="mrp" [width]="100">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="item.mrp"
                    name="mrp{{ rowIndex }}"
                    placeholder="MRP"
                    (change)="limitDecimalPlaces($event, 2)"
                  />
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Purchase Rate" prop="purchaseRate">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="item.purchaseRate"
                    name="purchaseRate{{ rowIndex }}"
                    placeholder="Purchase Rate"
                    (change)="
                      discountAmountChange(item, rowIndex);
                      taxAmount(item, rowIndex);
                      srtAmount(item, rowIndex);
                      grossAmount(item, rowIndex)
                    "
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Discount"
                prop="discount"
                [width]="100"
              >
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="item.discount"
                    name="discount{{ rowIndex }}"
                    placeholder="Discount%"
                    (change)="
                      discountAmountChange(item, rowIndex);
                      taxAmount(item, rowIndex)
                    "
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Disc Amount"
                prop="discAmount"
                [width]="115"
              >
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="item.discAmount"
                    name="discAmount{{ rowIndex }}"
                    placeholder="Disc Amount"
                    (change)="netAmount(item, rowIndex)"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Sch Disc Amount"
                prop="schdiscAmount"
                [width]="100"
              >
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="item.schdiscAmount"
                    name="schdiscAmount{{ rowIndex }}"
                    placeholder="Sch Disc Amount"
                    (change)="
                      limitDecimalPlaces($event, 2); netAmount(item, rowIndex)
                    "
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="GST" prop="gst" [width]="100">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <ng-select
                    #MyNgSelect
                    bindLabel="gstTypeName"
                    appendTo="body"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    style="width: 70px"
                    [(ngModel)]="item.gst"
                    name="gst{{ rowIndex }}"
                    (change)="taxAmount(item, rowIndex)"
                  >
                    <ng-option
                      [value]="item.gstTypeName"
                      *ngFor="let item of gstTypeList"
                    >
                      {{ item.gstTypeName }}
                    </ng-option>
                  </ng-select>
                  <!-- <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.gst"
                    name="gst{{ rowIndex }}"
                    placeholder="GST"
                  /> -->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Tax Amount"
                prop="taxAmount"
                [width]="115"
              >
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="item.taxAmount"
                    name="taxAmount{{ rowIndex }}"
                    placeholder="Tax Amount"
                    (change)="netAmount(item, rowIndex)"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="QPK" prop="qpk">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.qpk"
                    name="qpk{{ rowIndex }}"
                    placeholder="QPK"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="SRT" prop="srt">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.srt"
                    name="srt{{ rowIndex }}"
                    placeholder="SRT"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Gross Amt" prop="grossAmt">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.grossAmt"
                    name="grossAmt{{ rowIndex }}"
                    placeholder="Gross Amt"
                    (change)="netAmount(item, rowIndex)"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Net Amt" prop="netAmt">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.netAmt"
                    (keydown.Tab)="addItem()"
                    name="netAmt{{ rowIndex }}"
                    placeholder="Net Amt"
                  />
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Actions">
                <ng-template
                  let-item="row"
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                >
                  <a
                    *ngIf="rowIndex != Items.length - 1 || Items.length > 1"
                    (click)="removeItem(rowIndex)"
                    ><i class="ft-trash text-danger cursor-pointer"></i
                  ></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="addItem()"
            >
              Add Item
            </button>
            <!-- ngx-datatable-filter -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section id="tooltip-validation">
  <div class="row">
    <div class="col-12">
      <div class="card" *ngFor="let item of Items; let i = index">
        <div class="card-content">
          <div class="card-body">
            <form
              class="needs-validation"
              #userForm="ngForm"
              (ngSubmit)="userForm.form.valid && onSubmit(userForm)"
            >
              <div class="form-row">
                <div class="col-md-6">
                  <h4>Item {{ i + 1 }}</h4>
                </div>
                <div class="col-md-6 text-right">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm mr-2"
                    (click)="DisplayFileds(i)"
                  >
                    View More
                  </button>
                  <button
                    *ngIf="i != Items.length - 1 || Items.length > 1"
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeItem(i)"
                  >
                    Remove
                  </button>
                </div>

                <div class="col-md-2 mb-1 form-group">
                  <label for="validationTooltip01">Item Name</label>
                  <input
                    type="text"
                    class="form-control round"
                    [(ngModel)]="item.name"
                    name="name{{ i }}"
                  />
                </div>
                <div class="col-md-2 mb-1 form-group">
                  <label for="validationTooltip02">Batch</label>
                  <input
                    type="text"
                    class="form-control round"
                    [(ngModel)]="item.batch"
                    name="batch{{ i }}"
                  />
                </div>
                <div class="col-md-2 mb-1 form-group">
                  <label for="validationTooltip03">Expiry Date</label>
                  <input
                    type="text"
                    class="form-control round"
                    [(ngModel)]="item.expiryDate"
                    name="expiryDate{{ i }}"
                    required
                  />
                </div>
                <div class="col-md-2 mb-1 form-group">
                  <label for="validationTooltip03">Mfg Date</label>
                  <input
                    type="text"
                    class="form-control round"
                    [(ngModel)]="item.mfgDate"
                    name="mfgDate{{ i }}"
                    required
                  />
                </div>
                <div class="col-md-2 mb-1 form-group">
                  <label for="validationTooltip03">Best Before</label>
                  <select
                    id="basic-form-6"
                    [(ngModel)]="item.bestBefore"
                    name="bestBefore{{ i }}"
                    required
                    class="form-control round"
                  >
                    <option value="none" selected disabled>
                      Interested in
                    </option>
                    <option value="design">Design</option>
                    <option value="development">Development</option>
                    <option value="illustration">Illustration</option>
                    <option value="branding">Branding</option>
                    <option value="video">Video</option>
                  </select>
                </div>
                <div class="col-md-2 mb-1 form-group">
                  <label for="validationTooltip03">QTY</label>
                  <input
                    type="text"
                    class="form-control round"
                    [(ngModel)]="item.qty"
                    name="qty{{ i }}"
                    required
                  />
                </div>
                <ng-container *ngIf="showFields == i">
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">Free QTY</label>
                    <input
                      type="text"
                      class="form-control round"
                      [(ngModel)]="item.freeQty"
                      name="freeQty{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">MRP</label>
                    <input
                      type="text"
                      name="city"
                      class="form-control round"
                      [(ngModel)]="item.mrp"
                      name="mrp{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">Purchase Date</label>
                    <input
                      type="text"
                      class="form-control round"
                      [(ngModel)]="item.purchaseDate"
                      name="purchaseDate{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">Discount %</label>
                    <input
                      type="text"
                      name="city"
                      class="form-control round"
                      [(ngModel)]="item.discount"
                      name="discount{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03"> Disc Amt</label>
                    <input
                      type="text"
                      class="form-control round"
                      [(ngModel)]="item.discAmount"
                      name="discAmount{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">SCH Disc Amt</label>
                    <input
                      type="text"
                      class="form-control round"
                      [(ngModel)]="item.schdiscAmount"
                      name="schdiscAmount{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">GST %</label>
                    <input
                      type="text"
                      class="form-control round"
                      [(ngModel)]="item.gst"
                      name="gst{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">Tax Amount</label>
                    <input
                      type="text"
                      class="form-control round"
                      [(ngModel)]="item.taxAmount"
                      name="taxAmount{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">QPK</label>
                    <input
                      type="text"
                      class="form-control round"
                      [(ngModel)]="item.qpk"
                      name="qpk{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">SRT</label>
                    <input
                      type="text"
                      class="form-control round"
                      [(ngModel)]="item.srt"
                      name="srt{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">Gross Amt</label>
                    <input
                      type="text"
                      class="form-control round"
                      [(ngModel)]="item.grossAmt"
                      name="grossAmt{{ i }}"
                      required
                    />
                  </div>
                  <div class="col-md-2 mb-1 form-group">
                    <label for="validationTooltip03">net Amt</label>
                    <input
                      type="text"
                      class="form-control round"
                      [(ngModel)]="item.netAmt"
                      (keydown.Tab)="addItem()"
                      name="netAmt{{ i }}"
                      required
                    />
                  </div>
                </ng-container>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="basic-form-layouts">
  <div class="row match-height">
    <!-- Basic Form starts -->
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <ngx-datatable
              #tableRowDetails
              class="bootstrap core-bootstrap"
              [columnMode]="ColumnMode.force"
              [footerHeight]="50"
              rowHeight="auto"
              [limit]="10"
              [rows]="rows"
              [columns]="columns"
            >
              <ngx-datatable-row-detail rowHeight="auto">
                <ng-template
                  let-row="row"
                  let-expanded="expanded"
                  ngx-datatable-row-detail-template
                >
                  <div class="ml-5 my-1">
                    <div><strong>Qty : </strong> {{ row.qty }}</div>
                    <div><strong>schemeQty : </strong> {{ row.schemeQty }}</div>
                    <div><strong>discount :</strong> {{ row.discount }}</div>
                    <div><strong>billDate :</strong> {{ row.billDate }}</div>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>
              <ngx-datatable-column
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [canAutoResize]="false"
                [width]="50"
              >
                <ng-template
                  let-row="row"
                  let-expanded="expanded"
                  ngx-datatable-cell-template
                >
                  <a
                    href="javascript:void(0)"
                    [class.datatable-icon-right]="!expanded"
                    [class.datatable-icon-down]="expanded"
                    title="Expand/Collapse Row"
                    (click)="rowDetailsToggleExpand(row)"
                  >
                  </a>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="itemName"
                prop="itemName"
                [width]="150"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                name="supplierName"
                prop="supplierName"
                [width]="150"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="purchaseRate"
                prop="purchaseRate"
                [width]="120"
              ></ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
    <!-- Basic Form ends -->
    <!-- Hidden Label starts -->
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="col-md-4 form-group">
                  <label for="form-1">Gross Amount</label>
                  <input
                    type="text"
                    id="form-1"
                    class="form-control round"
                    name="grossAmounts"
                    #grossAmounts="ngModel"
                    [(ngModel)]="invoice.grossAmounts"
                  />
                </div>
                <div class="col-md-4 form-group">
                  <label for="form-2">Disc Amount</label>
                  <input
                    type="text"
                    id="form-2"
                    class="form-control round"
                    name="discAmount"
                    #discAmount="ngModel"
                    [(ngModel)]="invoice.discAmount"
                  />
                </div>
                <div class="col-md-4 form-group">
                  <label for="form-3">No Of Items</label>
                  <input
                    type="number"
                    id="form-3"
                    class="form-control round"
                    name="noItems"
                    #noItems="ngModel"
                    [(ngModel)]="invoice.noItems"
                  />
                </div>
                <div class="col-md-4 form-group position-relative">
                  <label for="form-4">Date</label>
                  <input
                    placeholder="yyyy-mm-dd"
                    name="footerdate"
                    class="form-control round"
                    #footerdate="ngModel"
                    [(ngModel)]="invoice.footerDate"
                    ngbDatepicker
                    #f="ngbDatepicker"
                    (click)="f.toggle()"
                    required
                  />
                  <!-- <div class="input-group-append">
                    <div class="input-group-text" (click)="f.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer"></i>
                    </div>
                  </div> -->
                </div>
                <div class="col-md-4 form-group">
                  <label for="form-5">GST Amount</label>
                  <input
                    type="text"
                    id="form-5"
                    class="form-control round"
                    name="gstamount"
                    #gstamount="ngModel"
                    [(ngModel)]="invoice.gstamount"
                  />
                </div>

                <div class="col-md-4 form-group">
                  <label for="form-7">Round Off Amount</label>
                  <input
                    type="text"
                    id="form-7"
                    class="form-control round"
                    name="roundAmount"
                    #roundAmount="ngModel"
                    [(ngModel)]="invoice.roundAmount"
                  />
                </div>
              </div>
              <button type="button" class="btn btn-primary mr-2">
                <i class="ft-check-square mr-1"></i>Save
              </button>
              <button type="button" class="btn btn-secondary">
                <i class="ft-x mr-1"></i>Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Hidden Label ends -->
  </div>
</section>
