<div class="modal-header" *ngIf="isModal">
  <h4 class="modal-title">Add Manufacturer</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    x
  </button>
</div>

<div class="col-lg-12 col-12">
  <div class="card">
    <div class="card-header" *ngIf="!isModal">
      <h4 class="card-title" *ngIf="!CustomeId">Add Manufacturer</h4>
      <h4 class="card-title" *ngIf="CustomeId">Edit Manufacturer</h4>
    </div>
    <div class="card-content">
      <div class="card-body" id="frmcbdy">
        <form #userForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="hidden-label-form-1"> Name</label>
                <input
                  type="text"
                  id="hidden-label-form-1"
                  class="form-control round"
                  name="manufacturerName"
                  [(ngModel)]="model.manufacturerName"
                  #manufacturerName="ngModel"
                  [ngClass]="{
                    'is-invalid': userForm.submitted && manufacturerName.invalid
                  }"
                  required
                />
              </div>
            </div>
            <div class="col-md-6"></div>

            <button
              type="button"
              *ngIf="!CustomeId"
              class="btn btn-primary mr-2"
              (click)="onSubmit(userForm)"
            >
              Save
            </button>
            <button
              type="button"
              *ngIf="CustomeId"
              class="btn btn-primary mr-2"
              (click)="onUpdate(userForm)"
            >
              Update
            </button>
            <button type="button" class="btn btn-secondary" (click)="goBack()">
              <i class="ft-x mr-1"></i>Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
