<!-- Theme customizer Starts-->
<div
  #customizer
  class="customizer d-none d-lg-none d-xl-block"
  [ngClass]="{ open: isOpen }"
>
  <a class="customizer-close" (click)="closeCustomizer()">
    <i class="ft-x font-medium-3"></i></a
  ><a
    class="customizer-toggle bg-primary"
    id="customizer-toggle-icon"
    (click)="toggleCustomizer()"
  >
    <i class="ft-help-circle font-medium-1 white align-middle"></i>
  </a>
  <div
    [perfectScrollbar]
    class="customizer-content p-3 ps-container ps-theme-dark"
    data-ps-id="df6a5ce4-a175-9172-4402-dabd98fc9c0a"
  >
    <h4 class="text-uppercase">Shortcut Keys</h4>

    <div class="row">
      <div class="col-md-6 mb-1">
        <div class="keys border mx-2">
          <div class="bg-grey text-center rb text-dark">Add Sales Order</div>
          <div class="text-primary text-center rb d-block py-0 bg-white px-3">
            Alt + S
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-1">
        <div class="keys border mx-2">
          <div class="bg-grey text-center rb text-dark">Add Purchase Entry</div>
          <div class="text-primary text-center rb d-block py-0 bg-white px-3">
            Alt + P
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-1">
        <div class="keys border mx-2">
          <div class="bg-grey text-center rb text-dark">Purchase Order</div>
          <div class="text-primary text-center rb d-block py-0 bg-white px-3">
            Alt + O
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-1">
        <div class="keys border mx-2">
          <div class="bg-grey text-center rb text-dark">Counter Sales</div>
          <div class="text-primary text-center rb d-block py-0 bg-white px-3">
            Alt + C
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-1">
        <div class="keys border mx-2">
          <div class="bg-grey text-center rb text-dark">Back</div>
          <div class="text-primary text-center rb d-block py-0 bg-white px-3">
            Shift + Esc
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-1">
        <div class="keys border mx-2">
          <div class="bg-grey text-center rb text-dark">Cash Withdraw</div>
          <div class="text-primary text-center rb d-block py-0 bg-white px-3">
            Alt +Shift + C
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Theme customizer Ends-->
