<div class="col-lg-12 col-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" *ngIf="!CustomeId">Add Item</h4>
      <h4 class="card-title" *ngIf="CustomeId">Edit Item</h4>
    </div>
    <div class="card-content">
      <div class="card-body">
        <form #itmForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="hidden-label-form-1"> Name</label>
                <input
                  type="text"
                  id="hidden-label-form-1"
                  class="form-control round"
                  name="cname"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-2">
                <label for="basic-form-6">Packing</label>
                <ng-select
                  [items]="packList"
                  bindLabel="packName"
                  bindValue="id"
                  [(ngModel)]="selectedPack"
                  name="packn"
                  #packn="ngModel"
                  (keyup.enter)="AddPack()"
                  (search)="OnPackChange()"
                  placeholder="No Packing selected"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="hidden-label-form-1">Qty Per Pack</label>
                <input
                  type="number"
                  id="hidden-label-form-1"
                  class="form-control round"
                  name="cname"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label for="basic-form-6">Mfg</label>
                <ng-select
                  [items]="manfList"
                  bindLabel="manufacturerName"
                  bindValue="id"
                  [(ngModel)]="selectedManf"
                  name="packn"
                  #packn="ngModel"
                  (keyup.enter)="AddManf()"
                  (search)="OnPackChange()"
                  placeholder="No Nfg selected"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label for="basic-form-6">Group</label>
                <select
                  id="basic-form-6"
                  name="interested"
                  class="form-control round"
                >
                  <option value="none" selected disabled>Group</option>
                  <option value="bank">bank</option>
                  <option value="cash">cash</option>
                  <option value="wallet">wallet</option>
                  <option value="sundry debtors">sundry debtors</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label for="basic-form-6">Store Type</label>
                <select
                  id="basic-form-6"
                  name="interested"
                  class="form-control round"
                >
                  <option value="none" selected disabled>Store Type</option>
                  <option value="bank">bank</option>
                  <option value="cash">cash</option>
                  <option value="wallet">wallet</option>
                  <option value="sundry debtors">sundry debtors</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label for="basic-form-6">Schedule</label>
                <ng-select
                  [items]="schList"
                  bindLabel="schedulerName"
                  bindValue="id"
                  [(ngModel)]="selectedSch"
                  name="packn"
                  #packn="ngModel"
                  (keyup.enter)="AddSch()"
                  (search)="OnPackChange()"
                  placeholder="No Schedule selected"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label for="basic-form-6">Composition</label>
                <ng-select
                  [items]="compList"
                  bindLabel="cName"
                  bindValue="id"
                  [(ngModel)]="selectedComp"
                  name="packn"
                  #packn="ngModel"
                  (keyup.enter)="AddComp()"
                  (search)="OnPackChange()"
                  placeholder="No Composition selected"
                >
                </ng-select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group row">
                <label for="hidden-label-form-7"
                  >Min Discount - Max Discount</label
                >
                <input
                  type="number"
                  id="hidden-label-form-5"
                  class="form-control round col-md-6"
                  name="sname"
                  placeholder="Min Dis"
                />
                <input
                  type="number"
                  id="hidden-label-form-5"
                  class="form-control round col-md-6"
                  name="sname"
                  placeholder="Max Dis"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label for="hidden-label-form-7"
                  >Min Quantity - Max quantity</label
                >
                <input
                  type="number"
                  id="hidden-label-form-5"
                  class="form-control round col-md-6"
                  name="sname"
                  placeholder="min"
                />
                <input
                  type="number"
                  id="hidden-label-form-5"
                  class="form-control round col-md-6"
                  name="sname"
                  placeholder="max"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label for="basic-form-6">GST</label>
                <select
                  id="basic-form-6"
                  name="interested"
                  class="form-control round"
                >
                  <option value="none" selected disabled>gst</option>
                  <option value="bank">bank</option>
                  <option value="cash">cash</option>
                  <option value="wallet">wallet</option>
                  <option value="sundry debtors">sundry debtors</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label for="basic-form-6">HSN</label>
                <select
                  id="basic-form-6"
                  name="interested"
                  class="form-control round"
                >
                  <option value="none" selected disabled>HSN</option>
                  <option value="bank">bank</option>
                  <option value="cash">cash</option>
                  <option value="wallet">wallet</option>
                  <option value="sundry debtors">sundry debtors</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="hidden-label-form-7">Rate a</label>
                <input
                  type="number"
                  id="hidden-label-form-5"
                  class="form-control round"
                  name="sname"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="hidden-label-form-7">Rate b</label>
                <input
                  type="number"
                  id="hidden-label-form-5"
                  class="form-control round"
                  name="sname"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="hidden-label-form-7">Rate c</label>
                <input
                  type="number"
                  id="hidden-label-form-5"
                  class="form-control round"
                  name="sname"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="hidden-label-form-7">Rate d</label>
                <input
                  type="number"
                  id="hidden-label-form-5"
                  class="form-control round"
                  name="sname"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label for="basic-form-6">Discount Slab</label>
                <select
                  id="basic-form-6"
                  name="interested"
                  class="form-control round"
                >
                  <option value="none" selected disabled>Discount Slab</option>
                  <option value="bank">bank</option>
                  <option value="cash">cash</option>
                  <option value="wallet">wallet</option>
                  <option value="sundry debtors">sundry debtors</option>
                </select>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary mr-2">
            <i class="ft-check-square mr-1"></i>Save
          </button>
          <button type="button" class="btn btn-secondary" (click)="goBack()">
            <i class="ft-x mr-1"></i>Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
