<div class="col-lg-12 col-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" *ngIf="!CustomeId">Add Hsnsac</h4>
      <h4 class="card-title" *ngIf="CustomeId">Edit Hsnsac</h4>
    </div>
    <div class="card-content">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="hidden-label-form-1"> Number</label>
                <input
                  type="text"
                  id="hidden-label-form-1"
                  class="form-control round"
                  name="cname"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="hidden-label-form-1"> Description</label>
                <input
                  type="text"
                  id="hidden-label-form-1"
                  class="form-control round"
                  name="cname"
                />
              </div>
            </div>

            <button type="button" class="btn btn-primary mr-2">
              <i class="ft-check-square mr-1"></i>Save
            </button>
            <button type="button" class="btn btn-secondary" (click)="goBack()">
              <i class="ft-x mr-1"></i>Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
