/* You can add global styles to this file, and also import other style files */
.float-right {
  float: right;
}
.ngx-datatable
  .datatable-header
  .datatable-header-cell.sortable
  .datatable-header-cell-wrapper {
  font-size: 10px !important;
}
.ngx-datatable .datatable-body-cell,
.ngx-datatable .datatable-header-cell {
  font-size: 10px !important;
}
.ng-select .ng-select-container {
  min-height: 20px;
}

.ng-select.ng-select-single .ng-select-container {
  height: 25px;
}
.ng-select.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  font-size: 0.75em;
}
.core-bootstrap .form-control {
  font-size: 1em;
}
.date-font {
  font-size: 0.75em;
  height: 25px;
}
.input-group-append {
  height: 24.5px !important;
}
.btn {
  font-size: 0.75rem;
  line-height: 0.5rem;
}
